body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.componentA {
  Width: 80%;
  margin: 0 auto;
  border: 5px Solid Black;
  background-color: lightskyblue;
  padding: 10px;
  margin: 10px auto;
}

.componentB {
  Width: 80%;
  margin: 0 auto;
  border: 5px Solid Black;
  background-color: white;
  padding: 10px;
  margin: 10px auto;
}

.componentC {
  Width: 80%;
  margin: 0 auto;
  border: 5px Solid Black;
  background-color: greenyellow;
  padding: 10px;
  margin: 10px auto;
}